<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lm.user.mapper.UserMapper">

    <resultMap id="userMap" type="com.lm.user.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="userType" column="user_type"/>
        <result property="vipExpireTime" column="vip_expire_time"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <insert id="insertAccountWithPhone" parameterType="com.lm.user.domain.User">
        INSERT INTO user (phone, user_type, create_time)
        VALUES (#{phone}, 0, #{createTime})
    </insert>


    <select id="selectByPhone" resultType="com.lm.user.domain.User">
        SELECT id,
               phone,
               password,
               user_type
        FROM user
        WHERE phone = #{phone}
    </select>


    <update id="updateUserByDTO" parameterType="com.lm.user.dto.UserUpdateDTO">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="vipExpireTime != null">vip_expire_time = #{vipExpireTime},</if>
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{userId}
    </delete>

    <insert id="insertApplication" parameterType="MerchantApplication" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO merchant_application (user_id, merchant_name, contact_phone, contact_email, application_status)
        VALUES (#{userId}, #{merchantName}, #{contactPhone}, #{contactEmail}, 0)
    </insert>


    <select id="getUserInfoById" resultType="com.lm.user.dto.UserInfoDTO" >
        select id, username,avatar_url,user_type, vip_expire_time
        from user
        where id = #{userId}

    </select>



</mapper>